## DATA UNDERSTANDING

In this section, we upload the data and conduct a surface analysis where we check its shape and check for null values before proceeding.

In [1]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your CSV file
file_path = "./nairobi_rooftop_solar_potential.csv"


# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path, encoding='latin-1')

# Display the DataFrame
print(df)

                                     ï»¿uuid     City  Surface_area  \
0       87100c54-0648-4e73-97f0-3a346c068231  Nairobi        204.53
1       b79fedd1-7c84-4b3f-8fd4-941f3ee17b02  Nairobi       1113.35
2       50ece267-f41a-4bb7-8874-3bf61a9d4aec  Nairobi        577.24
3       df402f1c-5120-4a2f-bb8f-c72c89666c6f  Nairobi         28.58
4       c4d03ac6-80ed-4aa5-95c3-a730c1bf8e68  Nairobi         19.03
...                                      ...      ...           ...
272746  05f945d2-946f-4079-9108-2b0e23328bbe  Nairobi         36.78
272747  b66554f5-173c-46d0-80c0-19b5e3ef04ab  Nairobi        181.87
272748  abb75046-2851-4c62-a123-7d052a098c7b  Nairobi        164.34
272749  d5238d1b-b7f1-47ed-bda8-7d815cee01d4  Nairobi        173.43
272750  91f9e7ba-e889-45bc-8f73-603a3a8f203e  Nairobi         34.70

        Potential_installable_area  Peak_installable_capacity  \
0                            77.27                      14.99
1                           676.13                     131.17
2                           412.30                      79.99
3                            14.17                       2.75
4                             6.19                       1.20
...                            ...                        ...
272746                        0.00                       0.00
272747                      109.44                      21.23
272748                       94.38                      18.31
272749                       99.64                      19.33
272750                       16.49                       3.20

        Energy_potential_per_year      Assumed_building_type  Estimated_tilt  \
0                        21720.76  single family residential           14.11
1                       182191.10  single family residential           21.81
2                       115637.95  single family residential           16.34
3                         3723.02  single family residential           23.71
4                         1655.39  single family residential           22.91
...                           ...                        ...             ...
272746                       0.00  single family residential           11.97
272747                   31274.44  single family residential           18.37
272748                   27153.65  single family residential            9.59
272749                   27911.63  single family residential           16.14
272750                    4707.86  single family residential           15.12

        Estimated_building_height  Estimated_capacity_factor  \
0                            9.09                    1449.00
1                            5.57                    1388.98
2                            5.78                    1445.72
3                            4.04                    1354.60
4                            5.31                    1378.00
...                           ...                        ...
272746                       2.55                        NaN
272747                       3.04                    1473.00
272748                       4.59                    1483.00
272749                       4.92                    1444.00
272750                       4.21                    1471.67

        Unit_installation_price Comment
0                           NaN     NaN
1                           NaN     NaN
2                           NaN     NaN
3                           NaN     NaN
4                           NaN     NaN
...                         ...     ...
272746                      NaN     NaN
272747                      NaN     NaN
272748                      NaN     NaN
272749                      NaN     NaN
272750                      NaN     NaN

[272751 rows x 12 columns]

C:\Users\User-ADMIN\AppData\Local\Temp\ipykernel_8872\4171717397.py:8: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='latin-1')

In [2]:
#Call a function to preview the dataset at hand 
import pandas as pd

def preview_dataset(file_path, num_rows=5):
    """
    Preview the dataset located at the specified file path.
    
    Parameters:
        file_path (str): The path to the dataset file.
        num_rows (int): Number of rows to display (default is 5).
    """
    try:
        # Read the dataset into a Pandas DataFrame
        df = pd.read_csv(file_path)
        
        # Display the first few rows of the DataFrame
        print("Previewing dataset:")
        print(df.head(num_rows))
        
        # Display summary information about the dataset
        print("\nDataset Summary:")
        print(df.info())
        
    except Exception as e:
        print("An error occurred:", e)

# Example usage:
file_path = "./nairobi_rooftop_solar_potential.csv"
preview_dataset(file_path)

Previewing dataset:
                                   uuid     City  Surface_area  \
0  87100c54-0648-4e73-97f0-3a346c068231  Nairobi        204.53
1  b79fedd1-7c84-4b3f-8fd4-941f3ee17b02  Nairobi       1113.35
2  50ece267-f41a-4bb7-8874-3bf61a9d4aec  Nairobi        577.24
3  df402f1c-5120-4a2f-bb8f-c72c89666c6f  Nairobi         28.58
4  c4d03ac6-80ed-4aa5-95c3-a730c1bf8e68  Nairobi         19.03

   Potential_installable_area  Peak_installable_capacity  \
0                       77.27                      14.99
1                      676.13                     131.17
2                      412.30                      79.99
3                       14.17                       2.75
4                        6.19                       1.20

   Energy_potential_per_year      Assumed_building_type  Estimated_tilt  \
0                   21720.76  single family residential           14.11
1                  182191.10  single family residential           21.81
2                  115637.95  single family residential           16.34
3                    3723.02  single family residential           23.71
4                    1655.39  single family residential           22.91

   Estimated_building_height  Estimated_capacity_factor  \
0                       9.09                    1449.00
1                       5.57                    1388.98
2                       5.78                    1445.72
3                       4.04                    1354.60
4                       5.31                    1378.00

   Unit_installation_price Comment
0                      NaN     NaN
1                      NaN     NaN
2                      NaN     NaN
3                      NaN     NaN
4                      NaN     NaN

Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272751 entries, 0 to 272750
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   uuid                        272751 non-null  object
 1   City                        272751 non-null  object
 2   Surface_area                272751 non-null  float64
 3   Potential_installable_area  272751 non-null  float64
 4   Peak_installable_capacity   272751 non-null  float64
 5   Energy_potential_per_year   272751 non-null  float64
 6   Assumed_building_type       272751 non-null  object
 7   Estimated_tilt              272751 non-null  float64
 8   Estimated_building_height   272721 non-null  float64
 9   Estimated_capacity_factor   269249 non-null  float64
 10  Unit_installation_price     0 non-null       float64
 11  Comment                     2 non-null       object
dtypes: float64(8), object(4)
memory usage: 25.0+ MB
None

C:\Users\User-ADMIN\AppData\Local\Temp\ipykernel_8872\3957510498.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

## DATA CLEANING

In [3]:
#Check the preview of the dataframe
import pandas as pd

def preview_dataframe(dataframe, num_rows=5):
    """
    Preview the specified Pandas DataFrame.
    
    Parameters:
        dataframe (pd.DataFrame): The DataFrame to preview.
        num_rows (int): Number of rows to display (default is 5).
    """
    print("Previewing DataFrame:")
    print(dataframe.head(num_rows))

# Example usage:
# Assuming df is your DataFrame
# df = pd.read_csv("your_dataset.csv")
# preview_dataframe(df)

In [4]:
#checking the preview of the dataframe
preview_dataframe(df)

Previewing DataFrame:
                                ï»¿uuid     City  Surface_area  \
0  87100c54-0648-4e73-97f0-3a346c068231  Nairobi        204.53
1  b79fedd1-7c84-4b3f-8fd4-941f3ee17b02  Nairobi       1113.35
2  50ece267-f41a-4bb7-8874-3bf61a9d4aec  Nairobi        577.24
3  df402f1c-5120-4a2f-bb8f-c72c89666c6f  Nairobi         28.58
4  c4d03ac6-80ed-4aa5-95c3-a730c1bf8e68  Nairobi         19.03

   Potential_installable_area  Peak_installable_capacity  \
0                       77.27                      14.99
1                      676.13                     131.17
2                      412.30                      79.99
3                       14.17                       2.75
4                        6.19                       1.20

   Energy_potential_per_year      Assumed_building_type  Estimated_tilt  \
0                   21720.76  single family residential           14.11
1                  182191.10  single family residential           21.81
2                  115637.95  single family residential           16.34
3                    3723.02  single family residential           23.71
4                    1655.39  single family residential           22.91

   Estimated_building_height  Estimated_capacity_factor  \
0                       9.09                    1449.00
1                       5.57                    1388.98
2                       5.78                    1445.72
3                       4.04                    1354.60
4                       5.31                    1378.00

   Unit_installation_price Comment
0                      NaN     NaN
1                      NaN     NaN
2                      NaN     NaN
3                      NaN     NaN
4                      NaN     NaN

In [5]:

# Check for duplicate rows
duplicate_rows = df[df.duplicated()]

if not duplicate_rows.empty:
    print("\nDuplicate rows found:")
    print(duplicate_rows)
else:
    print("\nNo duplicate rows found.")

No duplicate rows found.

In [6]:
#checking for total null values in the dataset
missing_values=df.isnull().sum()
print(missing_values)

ï»¿uuid                            0
City                               0
Surface_area                       0
Potential_installable_area         0
Peak_installable_capacity          0
Energy_potential_per_year          0
Assumed_building_type              0
Estimated_tilt                     0
Estimated_building_height         30
Estimated_capacity_factor       3502
Unit_installation_price       272751
Comment                       272749
dtype: int64

In [7]:
df.shape

(272751, 12)

In [8]:
df.head()

,ï»¿uuid,City,Surface_area,Potential_installable_area,Peak_installable_capacity,Energy_potential_per_year,Assumed_building_type,Estimated_tilt,Estimated_building_height,Estimated_capacity_factor,Unit_installation_price,Comment
0,87100c54-0648-4e73-97f0-3a346c068231,Nairobi,204.53,77.27,14.99,21720.76,single family residential,14.11,9.09,1449.00,NaN,NaN
1,b79fedd1-7c84-4b3f-8fd4-941f3ee17b02,Nairobi,1113.35,676.13,131.17,182191.10,single family residential,21.81,5.57,1388.98,NaN,NaN
2,50ece267-f41a-4bb7-8874-3bf61a9d4aec,Nairobi,577.24,412.30,79.99,115637.95,single family residential,16.34,5.78,1445.72,NaN,NaN
3,df402f1c-5120-4a2f-bb8f-c72c89666c6f,Nairobi,28.58,14.17,2.75,3723.02,single family residential,23.71,4.04,1354.60,NaN,NaN
4,c4d03ac6-80ed-4aa5-95c3-a730c1bf8e68,Nairobi,19.03,6.19,1.20,1655.39,single family residential,22.91,5.31,1378.00,NaN,NaN

## EDA

In [17]:
#  DataFrame Info
print("DataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272751 entries, 0 to 272750
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ï»¿uuid                     272751 non-null  object
 1   City                        272751 non-null  object
 2   Surface_area                272751 non-null  float64
 3   Potential_installable_area  272751 non-null  float64
 4   Peak_installable_capacity   272751 non-null  float64
 5   Energy_potential_per_year   272751 non-null  float64
 6   Assumed_building_type       272751 non-null  object
 7   Estimated_tilt              272751 non-null  float64
 8   Estimated_building_height   272721 non-null  float64
 9   Estimated_capacity_factor   269249 non-null  float64
 10  Unit_installation_price     0 non-null       float64
 11  Comment                     2 non-null       object
dtypes: float64(8), object(4)
memory usage: 25.0+ MB
None

In [19]:
# Unique Values
print("\nUnique Values:")
print(df.nunique())

Unique Values:
ï»¿uuid                       272751
City                               1
Surface_area                   48703
Potential_installable_area     35194
Peak_installable_capacity      12787
Energy_potential_per_year     259851
Assumed_building_type              6
Estimated_tilt                  3061
Estimated_building_height       4910
Estimated_capacity_factor      14371
Unit_installation_price            0
Comment                            1
dtype: int64

In [24]:
# 4. Check unique values in categorical columns
print("\nUnique values in categorical columns:")
categorical_columns = df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    print(f"\n{column}:")
    print(df[column].unique())# 4. Check unique values in categorical columns

Unique values in categorical columns:

ï»¿uuid:
['87100c54-0648-4e73-97f0-3a346c068231'
 'b79fedd1-7c84-4b3f-8fd4-941f3ee17b02'
 '50ece267-f41a-4bb7-8874-3bf61a9d4aec' ...
 'abb75046-2851-4c62-a123-7d052a098c7b'
 'd5238d1b-b7f1-47ed-bda8-7d815cee01d4'
 '91f9e7ba-e889-45bc-8f73-603a3a8f203e']

City:
['Nairobi']

Assumed_building_type:
['single family residential' 'commercial' 'public' 'industrial'
 'multi-family residential' 'peri-urban settlement']

Comment:
[nan 'commercial']

In [25]:
#  Check value counts for specific columns
print("\nValue counts for specific columns:")
print("City:")
print(df['City'].value_counts())

Value counts for specific columns:
City:
City
Nairobi    272751
Name: count, dtype: int64

In [21]:
# Explore different columns
print("\nExploring different columns:")
# 1. Display summary statistics for numerical columns
print("\nSummary statistics for numerical columns:")
print(df.describe())

Exploring different columns:

Summary statistics for numerical columns:
        Surface_area  Potential_installable_area  Peak_installable_capacity  \
count  272751.000000               272751.000000              272751.000000
mean      147.257428                   83.791388                  16.255633
std       265.736752                  189.906731                  36.843159
min         0.000000                    0.000000                   0.000000
25%        46.880000                   20.540000                   3.990000
50%        92.490000                   45.470000                   8.820000
75%       169.420000                   89.040000                  17.270000
max     57820.170000                42535.330000                8251.850000

       Energy_potential_per_year  Estimated_tilt  Estimated_building_height  \
count               2.727510e+05   272751.000000              272721.000000
mean                2.396997e+04       12.509193                   6.204000
std                 5.495253e+04        6.145312                   8.470971
min                 0.000000e+00        0.000000                 -14.350000
25%                 5.870130e+03        7.310000                   2.650000
50%                 1.297836e+04       12.560000                   4.060000
75%                 2.545399e+04       17.400000                   7.360000
max                 1.250156e+07       37.210000                 464.430000

       Estimated_capacity_factor  Unit_installation_price
count              269249.000000                      0.0
mean                 1473.151358                      NaN
std                    35.090302                      NaN
min                  1238.000000                      NaN
25%                  1453.000000                      NaN
50%                  1479.000000                      NaN
75%                  1499.820000                      NaN
max                  1534.000000                      NaN

In [22]:
# Check data types of columns
print("\nData types of columns:")
print(df.dtypes)

Data types of columns:
ï»¿uuid                        object
City                           object
Surface_area                  float64
Potential_installable_area    float64
Peak_installable_capacity     float64
Energy_potential_per_year     float64
Assumed_building_type          object
Estimated_tilt                float64
Estimated_building_height     float64
Estimated_capacity_factor     float64
Unit_installation_price       float64
Comment                        object
dtype: object